#new-user-modal #privileges-dnd-source-panel-wrapper {
	top: -578px;
	left: 402px;
	width: 400px;
}

#new-user-modal #privileges-dnd-source-wrapper {
	height: 500px;
}

#new-user-modal #privileges-dnd-target-panel {
	left: 5px;
	width: 320px;
}

#new-user-modal #privileges-dnd-input-wrapper {
	height: 500px;
}

#privileges-dnd-target-panel {
	height: 488px;
}

#domain-name-select {
	width: 190px;
}

#new-user-modal .modal-body {
	height: 580px;
}

#new-user-modal .modal-content {
	height: 700px;
}
