
/* BEGIN xxx */
/* END   xxx */

/* BEGIN Globals */
.centralised-hori {
	left: 50%;
}

.centralised-verti {
	top: 50%;
}

.pos-absol {
	position: absolute;
}

.pos-rel {
	position: relative;
}

.decor-less {
	text-decoration: none;
}

.error-message-wrapper {
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.error-message {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	
	color: red;
}

/* END   Globals */



/* BEGIN Sing-In */
#sign-in-header-wrapper {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 10;

	width: 100%;
	height: 70px;

	margin:  0;
	padding: 0;
	background-color: #428BCA;
	border: 1px solid #428BCA;
}

.form-row {
	width: 100%;
	margin: 5px;
}

.centraliser {
	left: 50%;
}

#sign-in-error-message {
	top: -32px;
}

#sign-in-form-wrapper {
	top: 200px;
	left: -200px;
	min-width: 400px;
	min-height: 300px;
	max-width: 400px;
	max-height: 300px;
	
	border: 1px solid #428BCA;
	border-radius: 7px 7px  7px  7px; 
}

#close-signin-wrapper {
	top: 7px;
	left: -13px;
}

.app-name {

	color: white;
}

#sign-in-form {
	top: 125px;
	left: 75px;
	max-width: 250px;
	max-height: 140px;
}

#not-part-of-it-wrapper {
	top: 20px;
	left: -20px;
}

#not-part-of-it-wrapper.btn {
	min-width: 60px;
}

#sign-in-trigger-btn {
	color: #428BCA;
}


#register-from-positioner {
	top: 150px;
	left: -250px;
	
	width: 400px;
	height: 450px;
	border: 1px solid #428BCA;
	border-radius: 7px 7px  7px  7px;
}

#close-register-positioner {
	top: 7px;
	left: -13px;
}

#register-form-wrapper {
	top: 75px;
}

#user-form-wrapper {
	width: 400px;
	height: 400px;
}

#user-form {
}

#user-form-input-positioner {
	left: -10px;
}

#user-form-submit-wrapper {
	left: 20px;
}

#register-submit {
	left: 20px;
}
/* END   Sign-In */


/* BEGIN WM-Banner */
#home-href {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	
	padding: 5px;
}

#header-wrapper {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 50px;

	margin:  0;
	padding: 0;
}
/* END   WM-Banner */


/* BEGIN WM-Content */
#content-wrapper {
	position: absolute;
	top: 50px;
	left: 150px;
	margin-top: 10px;
	margin-left: 30px;
}
/* END   WM-Content */

/* BEGIN Side Menu */
#side-menu-wrapper {
	left: 0px;
	position: absolute;
	
	height: 100%;
	width: 150px;
	
	background-color: #428BCA;
}

#side-menu-bar a:link{
	text-decoration: none;
	color: white;
}
#side-menu-bar a:visited {
	text-decoration: none;
	color: white;
}
#side-menu-bar a:hover {
	text-decoration: none;
	color: white;
}
#side-menu-bar a:active {
	text-decoration: none;
	color: white;
}

#home-href-wrapper {
	width: 150px;
	height: 50px;
	vertical-align: center;
}

#home-href {
	margin:	0px 4px;
	font-size: 15px;
}

.side-menu-icon {
	font-size: 50px;
	color:inherit;
	padding-left: 10px;
}

.side-menu-title {
	font-size: 15px;
	color:inherit;
	padding-top: 5px;
}

#side-menu-buttons {
	margin-top: 25px;
}

.side-menu-button {
	margin: 75px 35px;
	color: white;
}

.side-menu-button:hover {
	color: #FF9933;
	cursor: pointer;
}
/* END   Side Menu */

/* BEGIN Top Menu */
#top-menu-wrapper {
	left: 150px;
	position: absolute;
	
	height: 50px;
}
/* END   Top Menu */
